/CalculatorForm/nbproject/private/
/CalculatorForm/build/
/LoginForm/nbproject/private/
/LoginForm/build/
/ColorMixer/nbproject/private/
/ColorMixer/build/
/NotePad/nbproject/private/
/NotePad/build/
/MySQL_VNNote_2/nbproject/private/
/MySQL_VNNote_2/dist/
/MySQL_VNNote_2/build/
/MySQL_LoginApp/nbproject/private/
/MySQL_LoginApp/build/
/MyDictionary/nbproject/private/
/MyDictionary/build/
/MyDictionary/dist/
/Financial/nbproject/private/
/Financial/build/
/Financial/dist/